# Credenciais Gennera
GENNERA_USER=pwit@ligasolidaria.org.br
GENNERA_PASSWORD=pwit2024#
GENNERA_ID_USER=14383060

# Configurações
DOWNLOAD_FOLDER=C:\RPA\Downloads
INSTITUTION_ID=1134
MODEL_ID=5
MODEL_1_START_YEAR=2023

# Configurações do navegador
HEADLESS=false
TIMEOUT=60000
# CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe

# Logs
LOG_LEVEL=INFO
LOG_FILE=gennera_rpa.log
